@function remy($value) {
    @return ($value / 16px) * 1rem;
  }
  
  h3 {
    font-weight: initial;
    font-size: 14px;
  }
  a,
  [type="submit"] {transition: all .25s ease-in;}
  .signup__container {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    transform: translateY(-50%);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: remy(800px);
    height: remy(480px);
    border-radius: remy(3px);
    box-shadow: 0px remy(3px) remy(7px) rgba(0,0,0,.25);

  }
  .login-logo {
    height: 4rem;
    position: absolute;
    width: 10rem;
    overflow: hidden;

    img {
      width: 12rem;
      margin-left: -1rem;
      margin-top: -2rem;
      cursor: pointer;
    }
  }
  .signup__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.76);
  }
  .container__child {
    width: 50%;
    height: 100%;
    color: #fff;
    background: url(../../assets/images/login_wall.jpeg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    .error-message {
        display: block;
        z-index: 100000;
        color: #530303;
        position: absolute;
        top: 7%;
        background: #faecec;
        padding: 5px;
        border-radius: 8px;
    }
  }
  .signup__thumbnail {
    position: relative;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .thumbnail__content,
  .thumbnail__links {
    position: relative;
    z-index: 2;  
  }

  .logo__shape {fill: #fff;}
  .logo__text {
    display: inline-block;
    font-size: .8rem;
    font-weight: 700;
    vertical-align: bottom;
  }
  .thumbnail__content {align-self: center;}
  h1,
  h2 {
    font-weight: 300;
    color: rgba(255,255,255,1);
  }
  .heading--primary {font-size: 1.999rem;}
  .heading--secondary {
    font-size: 14px;
    opacity: 0.75;
  }
  .thumbnail__links {
    display: none;
    align-self: flex-end;
    width: 100%;
  }
  .thumbnail__links a {
    font-size: 1rem;
    color: #fff;
    &:focus,
    &:hover {color: rgba(255,255,255,.5);}
  }
  .signup__form {
    padding: 2.5rem;
    background: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .formWrapper {
        width: 52%;
    }
    .form-group {
      margin-bottom: 0.5rem;
      display: flex;
      justify-content: center;
    }
    label {
      font-size: 12px;
      display: none;
    }
    .form-control {
      padding: 0;
      line-height: 1;
      font-size: 13px;
    }
    select {
      width: 100%;
      font-size: 12px;
    }
    .form-group.captcha {
      transform: scale(0.7);
      margin-bottom: 0px;
      margin-top: -5px;
    }
    .google-login {
        margin-top: 0.8rem;
        transform: scale(0.9);

        button {
          box-shadow: inset 0 0 -1px rgba(0, 0, 0 , 0.15) !important;
          padding: 0px !important;
          border-radius: 10px !important;
        }
        button > div {
          margin-right: 0 !important;
          border-radius: 18px !important;
        }
        button > span {
          padding: 0 10px 3px 0px !important;
        }
    }
  }
  label {
    font-size: .85rem;
    text-transform: uppercase;
    color: #ccc;
  }
  .form-control {
    background-color: transparent;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
    &:focus {border-color: #111;}
  }
  [type="text"] {color: #111;}
  [type="password"] {color: #111;}
  .btn--form {
    padding: .5rem 2.5rem;
    font-size: .95rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    background: #111;
    border-radius: remy(35px);
    &:focus,
    &:hover {background: lighten(#111, 13%);}
  }
  .signup__link {
    cursor: pointer;
    font-size: .8rem;
    font-weight: 600;
    margin-top: 0.5rem;
    outline: none !important;
    border: none;
    color: #999;
    background: transparent;
    &:focus,
    &:hover {color: darken(#999, 13%);}
  }
  .list-inline {
      margin-left: -35px;
  }