// * {
//     padding: 0;
//     margin: 0;
//     position: relative;
//     box-sizing: border-box;
//   }
  
  .listing-section, .cart-section1 {
    width: 100%;
    float: left;
    padding: 1%;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background: RGB(89, 89, 89)
  }
  .listing-section {
    .product {
      float: left;
      width: 23%;
      border-radius: 2%;
      margin: 1%;
        img {
            width: 100%;
            height: 100%;
        }
    }

    .lazy-load-image-background.blur.lazy-load-image-loaded {
        height: 100% !important;
    }
    
    .product:hover {
      box-shadow: 1.5px 1.5px 2.5px 3px rgba(0, 0, 0, 0.4);
      -webkit-box-shadow: 1.5px 1.5px 2.5px 3px rgba(0, 0, 0, 0.4);  
      -moz-box-shadow:    1.5px 1.5px 2.5px 3px rgba(0, 0, 0, 0.4);
    }
    
    .image-box {
      width: 100%;
      overflow: hidden;
      border-radius: 2% 2% 0 0;
    }
    
    .images {
      height: 15em;
      background-size: cover; 
      background-position: center center; 
      background-repeat: no-repeat;
      border-radius: 2% 2% 0 0;
      transition: all 1s ease;
      -moz-transition: all 1s ease;
      -ms-transition: all 1s ease;
      -webkit-transition: all 1s ease;
      -o-transition: all 1s ease;
    }
    
    .images:hover {
      transform: scale(1.2);
      overflow: hidden;
      border-radius: 2%;
    }
    
    /* IMAGES */
    #image-1 {background-image: url("https://sc01.alicdn.com/kf/UT8.CaXX2NXXXagOFbXC/fresh-navel-oranges.jpg");}
    
    #image-2 {background-image: url("https://newenglandapples.files.wordpress.com/2014/10/img_5595.jpg")}
    
    #image-3 {background-image: url("https://sc01.alicdn.com/kf/UT8ovSIXQNaXXagOFbXt/Fresh-Passion-Fruit-with-Best-Price-and.jpg")}
    
    #image-4 {background-image: url("http://www.foodmatters.com/media/images/articles/16-powerful-reasons-to-eat-pineapple.jpg")}
    
    #image-5 {background-image: url("http://membrillo.com.au/wp-content/uploads/2016/11/bg-mango-01.jpg")}
    
    #image-6 {background-image: url("http://ell.h-cdn.co/assets/16/27/980x490/landscape-1467750721-gettyimages-146896572.jpg")}
    
    #image-7 {background-image: url("http://www.hesca.org/wp-content/uploads/2016/08/banana.jpg")}
    
    #image-8 {background-image: url("http://www.baag.com.au/pictures/produce/plums2.jpg")}
    
    #image-9 {background-image: url("https://ecowatchroar-img.rbl.ms/simage/https%3A%2F%2Fassets.rbl.ms%2F9458277%2F1200x600.jpg/2000%2C2000/J9vl96eLQCOEy3Xy/img.jpg")}
    
    #image-10 {background-image: url("https://www.parhlo.com/wp-content/uploads/2016/04/Valencia_market_-_lemons-1940x1454.jpg")}
    
    .text-box {
      width: 100%;
      float: left;
      border-radius: 0 0 2% 2%;
      color: #ddd;
      background: #333;
      padding: 1em;
    }
    
    h2, h3 {
      float: left;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 1em;
      text-transform: uppercase;
      margin: 0.2em auto;
    }
    
    .item, .price {
      clear: left;
      width: 100%;
      text-align: center;
    }
    
    .price {
      color: Grey;
    }
    
    .description, label, button, input {
      float: left;
      clear: left;
      width: 100%;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      font-size: 1em;
      text-align: center;
      margin: 0.2em auto;
    }
    
    input:focus {
      outline-color: #fdf;
    }
    
    label {
      width: 60%;
    }
    
    .text-box input {
      width: 15%;
      clear: none;
    }
    
    .text-box button {
      margin-top: 1em;
    }
    
    button {
      padding: 2%;
      background-color: #dfd;
      border: none;
      border-radius: 2%;
    }
    
    button:hover {
      bottom: 0.1em;
    }
    
    button:focus {
      outline: 0;
    }
    
    button:active {
      bottom: 0;
      background-color: #fdf;
    }
    
    .table-heading, .table-content {
      width: 75%;
      margin: 1% 12.25%;
      float: left;
      background-color: #dfd;
    }
    
    .table-heading h2 {
      padding: 1%;
      margin: 0;
      text-align: center;
    }
    
    
  }
  
    