li.profile-menu {
    ul, li {
        list-style:none;
        padding:0;
        margin:0;
    }
    a {
        text-decoration:none;
        padding: 10px 4px;
    }

    .profile-wrapper {
        width:200px;
        position:relative;
        margin:50px auto;
        display: contents;
    }
    .profile-wrapper::after {
        content: '';
        position: absolute;
        top: 20px;
        right: 10px;
        border-color: transparent;
        border-width: 0;
        border-style: solid;
    }
    .profile-wrapper::before {
        content: '';
        position: absolute;
        top: 20px;
        right: 10px;
        border-color: transparent;
        border-width: 0;
        border-style: solid;
    }
    .profile-wrapper:hover::after {
        border-color: #111 transparent transparent;	
    }

    .profile {
        padding:10px;
        border:1px solid #000;
        border-radius:3px;
        box-shadow:0 1px 0 #555 inset, 0 1px 7px #111;
        background:-webkit-linear-gradient(#222, #111);
    }
    .profile:hover {
        cursor:pointer;
        background:-webkit-linear-gradient(#1f1f1f, #0a0a0a);
    }
    .profile .name {
        font-size:12px;
        color:#fff;
        line-height: 0;
        padding: 10px 0 10px 0;
        margin: 0;
        min-width: 100px;
        width: auto;
    }
    .profile img {
        width:25px;
        display:inline;
        float:left;
        border:1px solid #111;
        border-radius:3px;
        box-shadow:0 0 3px rgba(0, 0, 0, 0.5) inset;
    }
    .profile svg{
        width: 18px;
        height: 18px;
        margin-bottom: -3px;
    }

    /* hide menu */
    .menu {
        display:none;
        clear:both;
        margin:42px 0 0 0;
    }
    .menu li {
        font-size:12px;
        margin:0;
        padding: 0;
    }
    .menu li a {
        color: #fff;
        text-align: left;
    }
    .menu li:hover > a{
        color:#eee;
    }

    .menu li:hover{
        border-left: 1px solid #111;
        border-right: 1px solid #222;
        border-bottom: 1px solid #222;
        border-top: 1px solid #111;
        border-radius: 3px;
    }

    /* hover profile show menu */
    .profile:hover .menu {
        display:block;
        left: 0;
        z-index: 10;
        background: linear-gradient(#000, #222);
        width: -webkit-fill-available;
    }
}

li.product-search {
    float: right;
    margin-right: 14rem;
}
li.home-cart {
    float: right;
    position: absolute;
    font-size: 24px;
    z-index: 100;
    top: 8px;
    right: 10rem;

    a {
        padding: 8px 20px 0 20px;
    }
}
.lazy-load-image-background.blur.lazy-load-image-loaded {
    width: 100% !important;
}
.header-search {
    display: flex;


    .choices-single-defaul {
        height: 42px;
        width: 7rem;
        background: #222;
        font-size: 18px;
        outline: none;
        color: #fff;
        border: none;
        border-top: 1px solid #ccc;
    }
    .btn-search {
        height: 42px;
    }
    .second-wrap input {
        height: 42px;
        width: 20rem;
        background: #222;
        color: #fff;
        border: none;
        border-top: 1px solid #ccc;
        font-size: 18px;
        outline: none;
        &::placeholder {
            color:#fff;
        }
    }
    .third-wrap > button {
        background: #222;
        color: #fff;
        border: none;
        border-top: 1px solid #ccc;
        cursor: pointer;
        &:hover {
            background: lighter(#222, 10%);
        }
        svg {
            font-size: 16px;
            margin-bottom: -2px;
        }
    }
}