$bg-color: #ffffff;
$border: #000;
$nav-link-hover: #00adef;
$nav-link-hover-hover: #0088c6;
$nav-link-hover-inactive: #4dc6f4;
$dropdown-logout: #efefef;
$bg-items: #f6f6f6;
$gray: #cccccc;
$bg-dashboard: #ececec;
$dropdown-table: #f3f3f3;
$menuButtonHov: #6CD4FB;